<nav class="navbar navbar-expand-lg navbar-{{config.NAVBAR_DARK_LIGHT}} bg-{{config.NAVBAR_BG}}">
    <div class="container-fluid">
      <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo03" aria-controls="navbarTogglerDemo03" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <a class="navbar-brand fw-bold text-{{config.BRAND_TEXT_COLOR}}" href="{{url_for('site.home')}}">{{config.APP_NAME}}</a>
      <div class="collapse navbar-collapse" id="navbarTogglerDemo03">
        <ul class="navbar-nav me-auto mb-2 mb-lg-0">
          <li class="nav-item">
            <a class="nav-link {{'active' if request.path[1:] == '' else ''}}" href="{{url_for('site.home')}}">Home</a>
          </li>
          {% if not logged_in %}
          <li class="nav-item">
            <a class="nav-link {{'active' if request.path[1:] == 'auth/sign_up' else ''}}  "  href="{{url_for('auth.sign_up')}}">Sign Up</a>
          </li>
          <li class="nav-item">
            <a class="nav-link {{'active' if request.path[1:] == 'auth/login' else ''}}" href="{{url_for('auth.login')}}">Login</a>
          </li>
          {% endif %}
          {% if logged_in %}
          <li class="nav-item">
            <a class="nav-link" href="{{url_for('auth.logout')}}">Logout</a>
          </li>
          {% endif %}
        </ul>
      </div>
    </div>
  </nav>